html, body{
    box-sizing: border-box;
}
.heading{
    padding: 6rem;
}
h1{  
    margin: none;
    font-family:monospace;
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
}
img{
    object-fit: cover;
    width: 20rem;
    border-radius: 10%;
    transition: transform .2s ease-in-out;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #0c0c0c7f;
}
img:hover{
    transform: scale(1.2);
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
li {
    text-decoration: none;
    list-style-type: none;
    margin: 2rem;
    padding: 1rem;
}
.recipes-video{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;
    align-items: center;
    
}